/* Estilos para el popup de éxito */
.success-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 128, 0, 0.8); /* Fondo verde con opacidad */
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.2em;
    z-index: 1000;
    animation: fadeIn 0.5s ease-in-out forwards; /* Animación de entrada */
  }
  
  /* Animación de entrada */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translate(-50%, -40%);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
  
  /* Animación para desaparecer después de 3 segundos */
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  