
h1,h2,h3,p{
  margin: 0;
}
h1{
  font-size: 64px;
}
h2{
  font-size: 48px;
}
p{
  font-size: 25px;
}
main{
  height: 100vh;
}
a{
  text-decoration: none;
}
@media (max-width: 1300px ) {
  h1{
    font-size: 50px;
  }
  h2{
    font-size: 32px;
  }
  p{
    font-size: 18px;
  }
}