
h1,h2,h3,p{
  margin: 0;
}
h1{
  font-size: 64px;
}
h2{
  font-size: 48px;
}
p{
  font-size: 25px;
}
main{
  height: 100vh;
}
a{
  text-decoration: none;
}
@media (max-width: 1300px ) {
  h1{
    font-size: 50px;
  }
  h2{
    font-size: 32px;
  }
  p{
    font-size: 18px;
  }
}
@media (max-width: 900px ) {
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 20px;
  }
  p{
    font-size: 20px;
  }
}
/* .not-found{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;  
}
.not-found>h1{
  color: var(--main-color);
  text-transform: uppercase;
}
.not-found>p{
  color: var(--default-color3);
  text-transform: lowercase;
} */