h1,h2,h3,p{
  margin: 0;
}
header{
  height: 70px;
  background: #000;
  width: 100%;
  position: fixed;
  z-index: 1000;
}
.topJugador,section{
  background-image: url("../src/img/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.letra{
  font-size: 100px;
}
/* top jugador */
.topJugador{
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.jugadores{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("../src/img/fondo3.png");
  border: 10px solid orange;
}
.tituloJugador{
  position: absolute;
  z-index: 3;
  top: 10%;
  left: 5%;
  color: orangered;
  font-size: 100px;
  filter: drop-shadow(10px 10px 1px orange);
}
.jugadores div{
  position: absolute;
  background-size: cover;
  border: 5px solid orange;
  box-shadow: 0px 5px 10px red;
}
.jugador0{
  z-index: 2;
  width: 300px;
  height: 400px;
}
.jugador1,.jugador2{
  z-index: 1;
  width: 250px;
  height: 350px;
}
.jugador3,.jugador4{
  width: 200px;
  height: 300px;
}
.introJugador{
  z-index: 3;
  width: 500px;
  height: 400px;
  right: 5%;
  bottom: 10%;
  background: orangered;
}
.introJugador>p,.introJugador>h1,.introJugador>h3{
  margin: 30px 40px;
}
/* noticia */
.noticiaJugador{
  overflow: hidden;
  height: 100vh;
  position: relative;
}
/* título de noticia */
.noticiaJugador>h1{
  position: absolute;
  z-index: 3;
  top: 10%;
  left: 5%;
  color: orangered;
  font-size: 100px;
  filter: drop-shadow(10px 10px 1px orange);
}
.noticias{
  width: 125vw;
  padding: 30px 0;

  display: flex;
  gap: 30px;
  justify-content: center;
}
.noticia{
  width: 25vw;
  height: 50vh;
  background-size: cover;
  cursor: pointer;
  filter: grayscale(1);
}
/* animación después de clic */
.clicNoticia{
  position: absolute;
  top: 20%;
  left: 25%;
  width: 50vw;
  height: 50vh;
  box-shadow: 0px 0px 5px gray;
  border-radius: 20px;
  background: white;
  padding: 0 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.clicNoticia>img{
  width: 100%;
  height: 50%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin: 10px 0;
  object-fit: cover;
}
.clicNoticia>button{
  border: none;
  background: none;

  position: absolute;
  right: 10px;
  top: 1rem;
}
.bxs-x-circle{
  font-size: 50px;
  color: rgb(235, 234, 234);
  cursor: pointer;
  filter: drop-shadow(1px 2px 1px grey);
}
.bxs-x-circle:hover{
  color: white;
  filter: drop-shadow(0px 0px 1px orange);
}
.bxs-x-circle:active{
  color: black;
  filter: none;
}