@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
:root{
  --main-color:#BE1717;
  --secondary-color:#000000;
  --default-color: #fff;
  --gradiented-color:linear-gradient(to top,var(--secondary-color),var(--main-color));
  --default-color2:#F8F9FA;
  --default-color3:#c0c0c0;
  --boxshadow:2px 2px 4px rgb(183, 183, 183);
}
html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zen Dots", sans-serif;
  color: var(--default-color);
  cursor: default;
  overflow-x: hidden;
}
button{
  border: 0;
  background: none;
  font-family: "Zen Dots", sans-serif;
  cursor: pointer;
}
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-thumb {
  display: none;
}