.usuario{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../src/img/lands.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    gap: 30px;
}
.usuario-tarjeta{
    position: relative;
}
.usuario-nombre{
    width: 300px;
    height: 60px;
    background: var(--main-color);
    border-radius: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
/* container de usuario-iniciar y usuario-img */
.usuario-infor{
    width: 800px;
    height: 500px;
    background-image: url("../src/img/bg-user.png");
    background-size: cover;
    border-radius: 10px;
    clip-path: path("M 340,0 Q310,0  310,30 L310,50 Q310,65 290,70 L15,70 Q0,75 0,90 L0,500 L800,500 L800,0 Z");
    position: relative;
    display: flex;
    align-items: center;
}
/* correo, pwd, username */
.tus-datos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-usuario>h2{
    color: var(--hoverbtn);
    filter: drop-shadow(0 0 1px);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 20px;
}
/* menu */
.menu{
    position: absolute;
    top: 15px;
    right: 170px;
    width: 300px;
    height: 45px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 5px #3e3e3e;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* item */
.item{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background: var(--default-color2);
    color: var(--hoverbtn);
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/* estabelecer nueva contraseña */
.usuario-iniciar{
    width: 300px;
    height: 50px;
    background: #fff;
    margin: 10px 30px;
    border-radius: 10px;
    color: #08213b;

    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}
.usuario-iniciar>input{
    outline: none;
    border: none;
    width: 100%;
    font-size: 15px;
}
/* btn submit */
.usuario-btns{
    display: flex;
    gap: 30px;
    margin: 10px 30px;
}
.usuario-btn{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background: var(--main-color);
    font-size: 10px;
    color: #fff;
    text-transform: capitalize;
}
.usuario-btn:hover{
    background: var(--hoverbtn);
}
.usuario-btn:active{
    background: var(--default-color2);
    color: var(--hoverbtn);
}
/* img de perfil */
.usuario-img{
    width: 100px;
    height: 100px;
    background-size: cover;
    background-color: #fff;
    position: absolute;
    right: 15px;
    top: 15px;
    border-radius: 20px;
    border: 5px solid #fff;
    box-shadow:0px 0px 5px #fff;
}
/* img de equipos */
.equipo-img{
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 50%;
    border: 5px solid #fff;
    margin: 10px;
    box-shadow: 0 0 5px #000;
}
.equipo-img>p{
    font-size: 10px;
    color: darkcyan;
}
/* no tienes equipos */
.sin-equipo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.elegir-equipo{
   overflow: scroll;
   width: 270px;
   height: 300px;
   background-color: #fff;
   border-radius: 20px;
   box-shadow: 0px 0px 5px #3e3e3e;
}
.lista-equipo{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: var(--hoverbtn);
    cursor: pointer;
}
.lista-equipo>img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.bx-right-arrow-alt{
    font-size: 20px;
}
/* item derecha */
.usuario-infor2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}
.usuario-ptos{
    width: 150px;
    height: 150px;
    background: #08213b;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 4px var(--default-color4);
}
.usuario-ptos>p{
    color: #fff;
}
/* responsive */
@media (max-width: 1400px) {
    /* tarjeta */
    .usuario-infor{
        width: 550px;
        height: 300px;
        clip-path: path("M 230,0 Q210,0 210,30 L210,30 Q210,45 195,50 L25,50 Q0,55 0,90 L0,500 L800,500 L800,0 Z");
    }
    .usuario-nombre{
        font-size: 20px;
        width: 200px;
        height: 40px;
    }
    /* titulo */
    .item-usuario>h2{
        font-size: 10px;
    }
    /* input */
    .usuario-iniciar{
        width: 150px;
        height: 30px;
        font-size: 10px;
        margin: 5px 30px;
    }
    .usuario-iniciar>input{
        font-size: 10px;
    }
    /* btn de modificar perfil */
    .usuario-btn{
        width: 70px;
        height: 20px;
        font-size: 6px;
        border-radius: 5px;
    }
    /* menu y item de menu*/
    .menu{
        width: 200px;
        height: 30px;
        border-radius: 5px;
        right: 120px;
    }
    .item{
        width: 60px;
        height: 25px;
        font-size: 7px;
    }
    /* img de usuario */
    .usuario-img{
        width: 50px;
        height: 50px;
    }
    /* img de equipos */
    .equipo-img{
        width: 50px;
        height: 50px;
    }
    /* item de derecho */
    .usuario-ptos{
        width: 80px;
        height: 80px;
    }
    .usuario-ptos>p{
        font-size: 10px;
    }
}