.torneos{
    background: #000;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
article>div,aside>div{
    border: 2px solid var(--default-color3);
    color: var(--default-color4);
}
article{
    overflow: scroll;
    grid-column:1/2;
}
aside{
    grid-column:2/4;
}
article>div,aside>div{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
aside>div>h3{
    margin: 0 30px;
}


/* Estilos para el contenedor del gráfico de partido */
.grafico-partido {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  /* Estilos para los cuadros de los partidos */
  .cuadro {
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: #fff;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Estilos para las líneas de conexión */
  .linea {
    position: absolute;
    border: 1px solid #ffffff;
  } 
  