.tabla-registro{
    background: #252525;
    background-image: url("../src/img/bg-registro.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabla{
    width: 800px;
    height: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
    clip-path: path('M 20,0 0,50 L 0,600 L 760,600 800,500 800,0 Z');
    background: #252525;
    position: relative;
}
.tabla-seleccion{
    width: 100%;
    height: 50px;
    position: relative;
}
.usuario{
    width: 53%;
    clip-path: path('M 20,0 L 0,50 L 400,50 420,0 Z');
    left: 0;
    top: 0;
    z-index: 0;
}
.administrador{
    width: 50%;
    clip-path: path('M 20,0 L 0,50 L 400,50 400,0 Z');
    right: 0;
    z-index: 100;
    top: 0;
}
.usuario,.administrador{
    position: absolute;
    background: #000;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.tabla-infor{
    background: #000;
    width: 100%;
    height: calc(100% - 50px);
}
/* centrar los divs entradas */
.tabla-user{
    width: 100%;
    height: 70%;
    position: relative;
    display: flex;
    justify-content: center;
}
.tabla-user>div{
    position: absolute;
    top: 20%;
    text-align: center;
}
.tabla-user>div>label{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 10px;
}
.tabla-user>div>label>input{
    height: 50px;
    width: 300px;
    font-size: 30px;
    padding: 5px 10px;
}
.ptos{
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 15%;
}
.pto-usuario{

    width: 50px;
    height: 10px;
    background: #fff;
}
.registro{
    width: 200px;
    height: 50px;
    background: var(--main-color);
    color: #fff;
    margin-top: 20px;
    clip-path: path('M 20,0 L 0,20 0,50 L 180,50 200,30 200,0 Z');
    font-size: 1rem;
    position: relative;
}
.registro:active{
    background: #fff;
    color: var(--hoverbtn);
}
.under-linea,.up-linea,.left-linea,.right-linea{
    background: goldenrod;
    position: absolute;
    border: none;
}
.under-linea{
    bottom: -5px;
}
.up-linea{
    top: -5px;
    right: 5px;
}
.left-linea{
    bottom: -5px;
    left: 5px;
}
.right-linea{
    top: -5px;
    right: 5px;
}
.advertencia{
    font-size: 10px;
    color: red;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advertencia>.bx-x-circle{
    font-size: 12px;
    margin-right: 5px;
}
.bx-arrow-back{
    font-size: 40px;
}