.tabla-registro{
    background: #252525;
    background-image: url("../src/img/bg-registro.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabla{
    width: 800px;
    height: 700px;

    display: flex;
    flex-direction: column;
    align-items: center;
    clip-path: path('M 20,0 0,50 L 0,700 L 760,700 800,500 800,0 Z');
    background: #252525;

}
.tabla-seleccion{
    width: 100%;
    height: 50px;
    position: relative;
}
.iniciar{
    width: 53%;
    clip-path: path('M 20,0 L 0,50 L 400,50 420,0 Z');
    left: 0;
    top: 0;
    z-index: 0;
}
.registrar{
    width: 50%;
    clip-path: path('M 20,0 L 0,50 L 400,50 400,0 Z');
    right: 0;
    z-index: 100;
    top: 0;
}
.iniciar,.registrar{
    position: absolute;
    background: #000;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.tabla-infor{
    background: #000;
    width: 100%;
    height: calc(100% - 50px);
}
/* centrar los divs entradas */
.tabla-user{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabla-user>div{
    text-align: center;
}
.tabla-user>div>label{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}
/* input y p de label */
.tabla-user>div>label>p{
    text-transform: capitalize;
}
.tabla-user>div>label>input{
    height: 50px;
    width: 300px;
    font-size: 30px;
    padding: 5px 10px;
}
/* ojos */
/* .tabla-user input[type="password"]{
    position: relative;
} */
.ojo{
    cursor: pointer;
    height: 30px;
    width: 30px;
}
/* tienes cuentas y eres administrador */
.recordatorio{
    font-size: 12px;
    cursor: pointer;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.registro{
    width: 200px;
    height: 50px;
    background: var(--main-color);
    color: #fff;
    margin-top: 20px;
    clip-path: path('M 20,0 L 0,20 0,50 L 180,50 200,30 200,0 Z');
    font-size: 1rem;
    position: relative;
}
.registro:active{
    background: #fff;
    color: var(--hoverbtn);
}

.advertencia{
    font-size: 10px;
    color: red;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advertencia>.bx-x-circle{
    font-size: 12px;
    margin-right: 5px;
}
.bx-arrow-back{
    font-size: 40px;
    position: absolute;
    right: calc(45%);
    top: 20%;
}
/* iniciar sesión con éxito */
.msg-registro{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.msg-registro>svg{
    width: 100px;
    height: 100px;
    margin: 30px;
}
.exito{
    color: #90f1e9;
    font-size: 30px;
}
.error{
    font-size: 30px;
    color: #f93434;
}
/* responsive */
@media (max-width:1300px) {
    /* establece los textos */
    .tabla p{
        font-size: 10px;
    }
    .bx-arrow-back{
        font-size: 20px;
    }
    .tabla-registro{
        height: 150vh;
    }
    .tabla{
        width: 300px;
        height: 400px;
        clip-path: path('M 30,0 0,30 L 0,400 L 260,400 300,360 300,0 Z');
        
    }
    .iniciar,.registrar{
        height: 30px;
    }
    .iniciar{
        width: 60%;
        clip-path: path('M 30,0 L 0,30 L 150,30 180,0 Z');
        left: 0;
        top: 0;
        z-index: 0;
    }
    .registrar{
        width: 50%;
        clip-path: path('M 30,0 L 0,30 L 150,30 150,0 Z');
        right: 0;
        z-index: 100;
        top: 0;
    }
    .tabla-user>div{
        top: 10%;
        text-align: center;
    }
    
    .tabla-user>div>label>input{
        height: 30px;
        width: 150px;
        font-size: 1rem;
        padding: 5px 10px;
    }
    .registro{
        font-size: 10px;
        width: 150px;
        height: 30px;
        margin-top: 0px;
        clip-path: path('M 10,0 L 0,10 0,30 L 140,30 150,20 150,0 Z');
    }
    .admin{
        margin: 20px 0;
    }
    .recordatorio{
        margin: 5px 0;
    }
    .under-linea,.up-linea,.left-linea,.right-linea{
        display: none;
    }
    .tabla-seleccion{
        width: 100%;
        height: 30px;
        position: relative;
    }
    .advertencia{
        width: 250px;
        font-size: 10px;
        margin: 20px;
    }
    .msg-registro{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .msg-registro>svg{
        width: 40px;
        height: 40px;
        margin: 20px;
    }
}