.page-tienda{
    height: auto;

    display: flex;
    justify-content: center;
    position: relative;
}
/* carrito*/
.bx-cart,.bxs-cart {
    font-size: 50px;
    color: var(--main-color);
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 30px;
}
/* factura desp'ues de comprar */
.factura-maquina{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000008e;
    z-index: 100;
}
.factura{
    width: 400px;
    min-height: 320px;
    background-color: var(--secondary-color);
    border-top: 10px solid var(--main-color);
    /* clip-path: path("M 0,0 L 0,320 L 30,310 L 60,320 L 90,310 L 120,320 L 150,310 L 180,320 L 210,310 L 240,320 L 270,310 L 300,320 L 300,0 Z"); */
    position: relative;
    
}
.factura>.bx-x-circle{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}
.factura>.bx-x-circle:hover{
    color: var(--main-color);
}
.factura-contenido{
    margin: 20px;
    margin-bottom: 100px;
    text-transform: capitalize;
    color: var(--default-color4);
}
.factura-contenido>hr{
    background: var(--default-color4);
    height: 3px;
    border: none;
}
.factura-titulo{
    font-size: 25px;
    margin-bottom: 20px;
    color: var(--default-color);
}
.factura-infor{
    font-size: 15px;
}
.factura-nombre{
    width: 200px;
}
.factura-total{
    color: var(--default-color);
}
.factura-advi{
    text-transform: uppercase;
    color: var(--hoverbtn);
    font-size: 16px;
    margin-top: 40px;
}
.btn-compra{
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    right: 15px;
    bottom: 15px;
}
/* productos */
.productos{
    display: grid;
    grid-template-columns: repeat(5,auto);
    gap: 30px;
    margin: 100px 0;
}
.producto{
    opacity: 0;
    width: 300px;
    height: 400px;
    box-shadow: var(--boxshadow);
    border-radius: 10px;
    color: rgb(120, 117, 117);
    background: var(--default-color2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    position: relative;
    overflow: hidden;
}
.producto:hover{
    box-shadow: 0px 0px 1px 3px var(--main-color);
    cursor: pointer;
    color: black;
}
.producto>img{
    width: 250px;
    height: 250px;
}
.producto>h3{
    margin: 10px 25px;
    font-size: 15px;
}
.precio{
    position: absolute;
    top: 0;
    left: 0;
    background: var(--main-color);
    padding: 10px;
    border-bottom-right-radius: 10px;
}
.precio>p{
    font-size: 15px;
    color: #fff;
}
@media (max-width:1700px) {
    .productos{
        grid-template-columns: repeat(4,auto);
    }
}
@media (max-width:1300px) {
    .productos{
        grid-template-columns: repeat(3,auto);
    }
    .producto{
        width: 250px;
        height: 300px;
    }
    .producto>img{
        width: 150px;
        height: auto;
    }
}
@media (max-width:900px) {
    .producto{
        width: 150px;
        height: 200px;
    }
    .producto>img{
        width: 100px;
        height: auto;
    }
    .producto>h3 {
        margin: 10px 15px;
        font-size: 10px;
    }
    .precio{
        padding: 5px;
    }
    .precio>p {
        font-size: 8px;
    }
    .bx-cart{
        font-size: 35px;
    }
}