.usuario{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.usuario-tarjeta{
    position: relative;
}
.usuario-nombre{
    width: 300px;
    height: 60px;
    background: var(--main-color);
    border-radius: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
/* container de usuario-iniciar y usuario-img */
.usuario-infor{
    width: 800px;
    height: 500px;
    background-image: url("../src/img/bg-user.png");
    background-size: cover;
    border-radius: 20px;
    clip-path: path("M 340,0 Q310,0  310,30 L310,50 Q310,65 290,70 L15,70 Q0,75 0,90 L0,500 L800,500 L800,0 Z");
    position: relative;
    display: flex;
    align-items: center;
}
/* correo, pwd, username */
.tus-datos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-usuario>h2{
    color: var(--hoverbtn);
    filter: drop-shadow(0 0 1px);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 20px;
}
/* menu */
.menu{
    position: absolute;
    top: 15px;
    right: 170px;
    width: 300px;
    height: 45px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 5px 5px 5px #3e3e3e;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* item */
.item{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background: var(--default-color2);
    color: var(--hoverbtn);
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/* estabelecer nueva contraseña */
.tus-datos p{
    color: #fff;
    filter: drop-shadow(0 0 1px #000);
    text-transform: lowercase;
    font-size: 10px;
    cursor: pointer;
}
.usuario-iniciar{
    width: 300px;
    height: 50px;
    background: #fff;
    margin: 10px 30px;
    border-radius: 10px;
    color: #08213b;

    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}
.usuario-iniciar>input{
    outline: none;
    border: none;
    width: 100%;
    font-size: 15px;
}
/* btn submit */
.usuario-btns{
    display: flex;
    gap: 30px;
    margin-top: 10px;
}
.usuario-btns>button{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background: var(--main-color);
    font-size: 10px;
    color: #fff;
    text-transform: capitalize;
}
.usuario-btns>button:hover{
    background: var(--hoverbtn);
}
.usuario-btns>button:active{
    background: var(--default-color2);
    color: var(--hoverbtn);
}
/* img de perfil */
.usuario-img{
    width: 100px;
    height: 100px;
    background-size: cover;
    position: absolute;
    right: 15px;
    top: 15px;
    border-radius: 20px;
    border: 5px solid #fff;
    box-shadow:0px 0px 5px #fff;
}
/* img de equipos */
.equipo-img{
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    background-size: cover;
    border-radius: 50%;
    border: 5px solid #fff;
}
.usuario-infor2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.usuario-ptos{
    width: 150px;
    height: 150px;
    background: #08213b;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 4px var(--default-color4);
}
.usuario-ptos>p{
    color: #fff;
}