.our-games{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
   
}
.our-games>h1{
    color: var(--secondary-color);
    margin-bottom: 30px;
}
.games{
    position: relative;
    width: 500px;
    height: 300px;
}
.games>img{
    position: absolute;
    width: 500px;
    height: 300px;
    border-radius: 20px;
}
.btn-our-games{
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.back,.next{
    font-size: 2rem;
    background: var(--default-color3);
    color: var(--default-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.back:hover,.next:hover{
    background: var(--main-color);
}
@media (max-width:1300px) {
    .games{
        width: 300px;
        height: 200px;
    }
    .games>img{
        width: 300px;
        height: 200px;
    }
    .back,.next{
        font-size: 1.5rem;
        width: 30px;
        height: 30px;
    }
}
@media (max-width:900px) {
    .games{
        width: 250px;
        height: 150px;
    }
    .games>img{
        width: 250px;
        height: 150px;
    }
    .back,.next{
        font-size: 1rem;
        width: 20px;
        height: 20px;
    }
}