.how {
    background: var(--default-color2);
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.procesos {
    display: flex;
    flex-wrap: wrap; /* Para que los elementos se envuelvan en pantallas pequeñas */
    gap: 30px;
    margin-top: 100px;
}

.proceso {
    width: 400px;
    max-width: 90%; /* Para hacer que los elementos se ajusten al ancho máximo */
    height: auto; /* Cambiado de 400px a auto */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--secondary-color);
    border-radius: 10px;
    background-color: var(--default-color);
    cursor: pointer;
    box-shadow: var(--boxshadow);
    text-align: center;
    color: #000;
}

.proceso > img {
    width: 200px;
    height: auto; /* Cambiado de 170px a auto */
}

.proceso > h3 {
    margin: 30px 0;
}

.proceso > p {
    font-size: 15px;
    margin: 0 30px;
}

@media (max-width: 1300px) {
    .proceso {
        width: 300px;
        height: auto; /* Cambiado de 250px a auto */
    }

    .proceso > img {
        width: 50px;
        height: auto; /* Cambiado de auto a auto */
    }
    
    .proceso.p0{
        margin-left: 50px;
    }
    .proceso.p2{
        margin-left: 220px;

    }
}
