.noticias{
    background: var(--gradiented-color);
    height: 120vh;
}
.scroll-titulo{
    width: max-content;
    background: var(--secondary-color);

}
.scroll-titulo>span{
    padding-right: 20px;
    background: var(--secondary-color);
}
.noticias-parte{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.noticias-titulo{
    text-align: center;
}
.noticia{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 60%;
    gap: 30px;
}
.noticia-contenido{
    width: 500px;
}
.noticia-contenido>img{
    background: white;
    width: 100%;
    height: 250px;
    border-radius: 15px;
}
.noticia-contenido>p{
    margin: 5px 0 5px 10px;
    font-size: 10px;
    color: var(--default-color3);
    font-weight: lighter;
}
.noticia-contenido>a>h3{
    margin: 5px 0 5px 10px;
    font-size: 15px;
    font-weight: normal;
    color: #fff;
}
.noticia-contenido>a>h3:hover{
    text-decoration: underline;
}

@media (max-width: 1300px) {
    .noticias{
        height: 180vh;
    }
    .noticias-parte{
        justify-content: center;
        gap: 50px;
    }
    .page-noticias {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    
    .noticia-contenido {
        width: 350px;
        height: 300px;
    }

    .noticia-contenido>img {
        height: 200px;
    }
}

@media (max-width: 768px) {
    .page-noticias {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .noticia-contenido {
        width: 100%;
        height: auto;
    }

    .noticia-contenido>img {
        height: auto;
        border-radius: 10px;
    }

    .noticia-contenido>p {
        font-size: 12px;
        margin: 5px 10px;
    }

    .noticia-contenido>a>h3 {
        font-size: 18px;
        margin: 10px 10px;
    }
}