.parte-titulo{
    height: calc(100vh - 100px);
    padding-top: 100px;
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .parte-titulo>img{
    height: 100%;
  }
  .titulo{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .titulo>h1{
    margin-bottom: 30px;
  }
  .titulo>p{
    width: 600px;
    color: rgb(205, 205, 205);
  }