.parte-titulo {
  height: calc(100vh - 100px);
  padding-top: 100px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.parte-titulo > img {
  height: 100%;
}

.titulo {
  width: 60%; /* Puedes ajustar este valor según tus necesidades */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.titulo > h1 {
  margin: 30px;
  max-width: 90%; /* Ancho máximo del título ajustado */
}

.titulo > h1 > span {
  margin: 2px;
}

.titulo > p {
  max-width: 90%; /* Ancho máximo del párrafo ajustado */
  color: var(--default-color);
}
@media (max-width:1056px) {
  .parte-titulo {
    justify-content: center;
    background-image: url("../img/imgTitulo.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .parte-titulo > img {
    display: none;
  }
}
